<div class="body">
    <div class="footer">

        <div class="content">
            <img class="mag-cover" src="https://nursing.virginia.edu/media/summer-2024-vnl-thumbnail.jpg">
        </div>
        <div class="content">
            <img class="logo" src="https://nursing.virginia.edu/media/uva-nursing-logo.png">
            <p class="contact-info">225 Jeanette Lancaster Way
                <br />Charlottesville, VA 22903-3388
                <br />(434) 924-0141
            </p>
        </div>


        <div class="content">
            <a class="link" target="_blank" href="https://nursing.virginia.edu/about/">
                About
            </a>
            <a class="link" target="_blank" href="https://nursing.virginia.edu/diversity/">
                Diversity
            </a>
            <a class="link" target="_blank" href="https://nursing.virginia.edu/map/">
                Directions
            </a>
            <a class="link" target="_blank" href="https://community.nursing.virginia.edu/">
                Faculty, Staff and Student Resources
            </a>
        </div>
        <div class="content">
            <a class="link" target="_blank" href="https://nursing.virginia.edu/contact/">
                Contact
            </a>
            <a class="link" target="_blank"
                href="https://nursing.virginia.edu/about/mission-vision-values-strategic-plan/">
                Mission
            </a>
            <a class="link" target="_blank" href="https://nursing.virginia.edu/">
                Quick Facts
            </a>
            <a class="link" target="_blank" href="https://nursing.virginia.edu/employment/">
                Employment
            </a>
        </div>
        <div class="content">
            <h4>STAY CONNECTED</h4>
            <div class="social-icons">
                <a href="https://www.facebook.com/uvanursing" target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://www.instagram.com/uvaschoolofnursing/" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/company/uvaschoolofnursing" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://twitter.com/uvason" target="_blank">
                    <i class="fab fa-x-twitter"></i>
                </a>
                <a href="https://www.youtube.com/user/UVANursing" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>


    </div>
</div>

<div class="bottom-container">
    <div class="bottom">
        <div>
            <p>© 2024 Ayden Deng · Demo for School of Nursing, UVA</p>
        </div>
        
        <div class="link">
            <a target="_blank" href="https://www.virginia.edu/siteinfo/privacy">
                Privacy Policy
            </a>
            <a target="_blank" href="http://www.virginia.edu/siteinfo/copyright">
                Copyright Policy
            </a>
            <a target="_blank" href="http://eocr.virginia.edu/notice-non-discrimination-and-equal-opportunity">
                Non-Discrimination Notice
            </a>
            <a target="_blank" href="http://eocr.virginia.edu/ada-coordinator">
                Accessibility
            </a>
        </div>
    </div>

</div>