@import '../../../variable.scss';

.body {
    background-color: white;
    // height: 200vh;

    .spacer {
        height: 3rem;
        display: none;

        p {
            opacity: 0;
        }
    }

    @media screen and (max-width: 991px) {
        .spacer {
            display: block;
        }
    }

    .home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .blocks {
            width: $screen-width;
            max-width: $max-width;
            // border: 1px solid black;
            padding: 1rem;

            .landing-options {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                margin-block: 10rem;

                h1,
                h2 {
                    transition: all 0.25s ease-in-out;
                }

                h1 {
                    font-size: 3rem;
                    color: $primary-color;
                }

                .slogan {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    justify-content: center;
                    align-items: start;
                    text-align: start;
                    width: 50vw;

                    a {
                        padding: $button-padding;
                        color: $button-text;
                        background-color: $button-color;
                        border: $button-border-primary;
                        border-radius: $button-border-radius;
                        transition: $transition;
                        cursor: pointer;
                        font-size: $button-font-size;
                        font-weight: 400;
                        text-decoration: none;


                        &:hover {
                            background: none;
                            color: $primary-color;
                            transform: $scale-enlarge;
                        }

                        &:active {
                            background: none;
                            color: $primary-color;
                            transform: $scale-lessen;
                        }
                    }

                }

                @media screen and (max-width: 991px) {
                    .slogan {
                        align-items: center;
                        text-align: center;
                        width: 90vw;

                        a {
                            font-size: 1rem;
                        }
                    }
                }

                .options {
                    display: flex;
                    flex-direction: column;
                    justify-content: cetner;
                    align-items: center;
                    width: 50vw;

                    a {
                        font-size: 2rem;
                        font-weight: 500;
                        padding: 1.5rem 2rem;
                        margin: 0;
                        border-radius: 999px;
                        text-decoration: none;
                        color: #000;
                        transition: $transition;
                        cursor: pointer;
                        text-align: left;
                        border-radius: 999rem;

                        .arrow {
                            margin-left: 0;
                            // color: $hover-color;
                            transition: $transition;
                        }
                    }

                    a:hover {
                        color: $hover-color;
                        background-color: rgba(0, 0, 0, 0.05);

                        .arrow {
                            color: $hover-color;
                            margin-left: 0.5rem;
                        }
                    }


                }

                @media screen and (max-width: 991px) {
                    .options {
                        width: 90vw;

                        a {
                            font-size: 1.5rem;
                        }
                    }
                }

            }

            @media screen and (max-width: 991px) {
                .landing-options {
                    flex-direction: column;
                    gap: 4rem;
                    margin-block: 6rem;
                }
            }
        }

        .explore {
            background-color: $primary-color;
            color: #fff;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .content {
                color: #fff;
                width: $screen-width;
                max-width: $max-width;
                padding-block: 6rem;
                font-weight: $button-font-weight;

                h1 {
                    font-size: 3rem;
                    transition: $transition;
                    font-weight: 400;
                    margin-bottom: 1.5rem;
                }

                .programs {
                    margin-block: 2rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 1rem;
                    overflow: hidden;

                    .program {
                        width: 32%;
                        position: relative;
                        border-radius: 1rem;
                        overflow: hidden;

                        .program-img {
                            transform: scale(1.01);
                            aspect-ratio: 3/2;
                            width: 100%;
                            height: 100%;
                            background-size: cover;
                            background-position: center;
                            position: relative;
                            transition: all 0.3s ease-in-out;

                            overflow: hidden;
                            transition: $transition;

                            &:hover {
                                transform: $scale-enlarge;
                            }

                            &:active {
                                transform: scale(1);
                            }

                            .overlay {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: end;
                                align-items: center;
                                background: $overlay-background; // overlay dark
                                color: #fff;
                                text-align: center;
                                opacity: 1;
                                transition: $transition;

                                h2 {
                                    font-size: 2rem;
                                    width: 75%;
                                    font-weight: 400;
                                }

                                p {
                                    font-size: 1rem;
                                    color: #fff;
                                    opacity: 0.5;
                                    font-weight: 400;
                                }
                            }


                        }
                    }
                }

                @media screen and (max-width: 991px) {
                    .programs {
                        margin-block: 2rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 1.5rem;
                        align-items: center;
                        border-radius: 1rem;
                        overflow: hidden;

                        .program {
                            width: 100%;
                        }
                    }
                }

                .sucess {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 4rem;
                    margin-top: 6rem;

                    .number {
                        aspect-ratio: 1/1;
                        width: 300px;
                        height: auto;
                        background-image: url('https://nursing.virginia.edu/media/sunburst.png');
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .title {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: start;
                            gap: 0.5rem;
                            text-align: center;
                            margin-top: 3rem;
                            font-style: italic;

                            .rank {
                                margin-right: 3rem;
                            }

                            .percentage {
                                margin-left: 3rem;
                            }

                            h1 {
                                font-size: 6rem;
                                font-weight: 900;
                                margin-bottom: 0;

                            }

                            h4 {
                                font-size: 3rem;
                                font-weight: 300;
                                margin-top: 0.5rem;
                            }
                        }

                        .disc {
                            margin: 0;
                            max-width: 260px;
                            text-align: center;

                            p {
                                text-transform: uppercase;
                                opacity: 0.75;
                                color: #fff;
                                margin: 0;
                            }
                        }
                    }
                }

                @media screen and (max-width: 991px) {
                    .sucess {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 4rem;
                        margin-top: 4rem;
                    }
                }

                .admissionRooms {
                    margin-block: 2rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 1rem;
                    overflow: hidden;

                    .admissionRoom {
                        // width: calc(16*1.6rem);
                        // height: calc(9*1.6rem);
                        width: 32%;
                        position: relative;
                        border-radius: 1rem;
                        overflow: hidden;

                        .admissionRoom-img {
                            transform: scale(1.01);
                            aspect-ratio: 16/9;
                            width: 100%;
                            height: 100%;
                            background-size: cover;
                            background-position: center;
                            position: relative;
                            transition: all 0.3s ease-in-out;

                            overflow: hidden;
                            transition: $transition;

                            &:hover {
                                transform: $scale-enlarge;
                            }

                            &:active {
                                transform: scale(1);
                            }

                            .overlay {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: end;
                                align-items: center;
                                background: $overlay-background; // overlay dark
                                color: #fff;
                                text-align: center;
                                opacity: 1;
                                transition: $transition;

                                h2 {
                                    font-size: 2rem;
                                    width: 75%;
                                    font-weight: 400;
                                }

                                p {
                                    font-size: 1rem;
                                    color: #fff;
                                    opacity: 0.5;
                                    font-weight: 400;
                                }
                            }


                        }
                    }


                }

                @media screen and (max-width: 991px) {
                    .admissionRooms {
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 2rem;

                        .admissionRoom {
                            width: 100%;
                        }
                    }
                }

            }

        }

        .vid {
            background-color: #fff;
            // color: ;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .vid-content {
                // color: #fff;
                width: $screen-width;
                max-width: $max-width;
                padding-block: 6rem;
                font-weight: $button-font-weight;
                box-sizing: border-box;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                video {
                    border-radius: 1rem;
                    overflow: hidden;
                }
                

                iframe {
                    border-radius: 1rem;
                    overflow: hidden;
                    height: auto;
                    width: $screen-width;
                    max-width: $max-width;
                    aspect-ratio: 16/9;
                }
            }
        }

        .scholar {
            background-color: #fff;
            // color: ;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            .scholar-content {
                // color: #fff;
                width: $screen-width;
                max-width: $max-width;
                padding-top: 0;
                padding-bottom: 4rem;
                font-weight: $button-font-weight;
                box-sizing: border-box;

                h1{
                    font-size: 3rem;
                    color:$primary-color;
                }

                .allScholars{
                    margin-block: 2rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 1rem;
                    overflow: hidden;

                    .scholar {
                        width: 32%;
                        // height: 40rem;
                        position: relative;
                        border-radius: 1rem;
                        overflow: hidden;

                        .scholar-img {
                            aspect-ratio: 7/6;
                            width: 30vw;
                            height: auto;
                            background-size: cover;
                            background-position: center;
                            position: relative;
                            transition: all 0.3s ease-in-out;

                            overflow: hidden;
                            transition: $transition;

                            &:hover {
                                transform: $scale-enlarge;
                            }

                            &:active {
                                transform: scale(1);
                            }

                            .overlay {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: end;
                                align-items: center;
                                background: $overlay-background; // overlay dark
                                color: #fff;
                                text-align: center;
                                opacity: 1;
                                transition: $transition;
                                box-sizing: border-box;

                                h2,p,.scholar-disc{
                                    max-width: 75%;
                                }
                                h2 {
                                    color: #fff;
                                    font-size: 1.25rem;
                                    font-weight: 400;
                                    margin: 0;
                                }

                                p {
                                    font-size: 1rem;
                                    color: #fff;
                                    opacity: 0.5;
                                    font-weight: 400;
                                    margin: 0;
                                }
                                .scholar-disc{
                                    opacity: 0.75;
                                    margin-bottom:1rem ;
                                }


                            }


                        }

                        
                    }
                }
                @media screen and (max-width: 991px) {
                    .allScholars{
                        margin-block: 2rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border-radius: 1rem;
                        gap: 1rem;
                        overflow: hidden;
        
                        .scholar {
                            width: 100%;
                            .scholar-img {
                                width: 100vw;
                                aspect-ratio: 1/1;

                                .overlay{
                                    h2,p,.scholar-disc{
                                        max-width: 80%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
}