/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import './variable.scss';

body,html{
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: $primary-color;

    h1,h2,h3,h4,h5,h6{
        font-weight: 400;
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1rem;
        color: $text-color;
    }
}